<!-- Our Speakings Area Start -->
<section class="our-speaker-area bg-img bg-gradient-overlay section-padding-100-60"
    style="background-image: url(assets/img/bg-img/3.jpg);">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Our Speakings</p>
                    <h4>Who’s speaking</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Speaker Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="assets/img/bg-img/4.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Albert Barnes</h5>
                        <p>Founder</p>
                    </div>
                </div>
            </div>

            <!-- Single Speaker Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="assets/img/bg-img/5.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Patricia Stanley</h5>
                        <p>Product Lead</p>
                    </div>
                </div>
            </div>

            <!-- Single Speaker Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="assets/img/bg-img/6.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Evelyn Stone</h5>
                        <p>Photographer</p>
                    </div>
                </div>
            </div>

            <!-- Single Speaker Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="assets/img/bg-img/7.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Evelyn Stone</h5>
                        <p>Photographer</p>
                    </div>
                </div>
            </div>

            <!-- Single Speaker Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="assets/img/bg-img/8.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Susan Hopkins</h5>
                        <p>UX Manager</p>
                    </div>
                </div>
            </div>

            <!-- Single Speaker Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="assets/img/bg-img/9.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Michael Fowler</h5>
                        <p>Product Design</p>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="more-speaker-btn text-center mt-20 mb-40 wow fadeInUp" data-wow-delay="300ms">
                    <a class="btn confer-btn-white" href="#">view all Speaker <i
                            class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Speakings Area End -->