<!-- Scroll Icon -->
<!-- <div class="icon-scroll" id="scrollDown"></div> -->
<section class="welcome-area">
    <div class="welcome-slides">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="single-welcome-slide bg-img bg-overlay jarallax"
                    style="background-image: url(assets/img/bg-img/1.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12">
                                <div class="welcome-text text-right">
                                    <h2 data-animation="fadeInUp" data-delay="300ms">Science <br>Conference</h2>
                                    <h6 data-animation="fadeInUp" data-delay="500ms">Shangri-La Hotel, Bangkok, Bangkok,
                                        Thailand</h6>
                                    <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                        <a href="#" class="btn confer-btn">More Information <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>

                <!-- Single Slide -->
                <div class="single-welcome-slide bg-img bg-overlay jarallax"
                    style="background-image: url(assets/img/bg-img/45.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12">
                                <div class="welcome-text-two text-center">
                                    <h5 data-animation="fadeInUp" data-delay="100ms">The event consistently</h5>
                                    <h2 data-animation="fadeInUp" data-delay="300ms">OSHA Compliance</h2>
                                    <!-- Event Meta -->
                                    <div class="event-meta" data-animation="fadeInUp" data-delay="500ms">
                                        <a class="event-date" href="#"><i class="zmdi zmdi-account"></i> January 14,
                                            2019</a>
                                        <a class="event-author" href="#"><i class="zmdi zmdi-alarm-check"></i> Laura
                                            Green</a>
                                    </div>
                                    <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                        <a href="#" class="btn confer-btn m-2">View more <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                        <a href="#" class="btn confer-btn m-2">Get Tickets <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-template>
        </owl-carousel-o>
    </div>
</section>