<!-- Our Blog Area Start -->
<section class="our-blog-area bg-img bg-gradient-overlay section-padding-100-60"
    style="background-image: url(assets/img/bg-img/17.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading -->
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Our Blog</p>
                    <h4>Latest news</h4>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                    <!-- Single blog Thumb -->
                    <div class="single-blog-thumb">
                        <img src="assets/img/bg-img/18.jpg" alt="">
                    </div>
                    <div class="single-blog-text text-center">
                        <a class="blog-title" href="#">Street Food Convention</a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i> January 14, 2019</a>
                            <a class="post-author" href="#"><i class="zmdi zmdi-account"></i> Laura Green</a>
                        </div>
                        <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.
                        </p>
                    </div>
                    <div class="blog-btn">
                        <a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                    <!-- Single blog Thumb -->
                    <div class="single-blog-thumb">
                        <img src="assets/img/bg-img/19.jpg" alt="">
                    </div>
                    <div class="single-blog-text text-center">
                        <a class="blog-title" href="#">Tedx Moscow Conference</a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>
                            <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Laura Green</a>
                        </div>
                        <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.
                        </p>
                    </div>
                    <div class="blog-btn">
                        <a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="300ms">
                    <!-- Single blog Thumb -->
                    <div class="single-blog-thumb">
                        <img src="assets/img/bg-img/20.jpg" alt="">
                    </div>
                    <div class="single-blog-text text-center">
                        <a class="blog-title" href="#">Los Angeles Institute</a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <a class="post-date" href="#"><i class="zmdi zmdi-alarm-check"></i>January 14, 2019</a>
                            <a class="post-author" href="#"><i class="zmdi zmdi-account"></i>Laura Green</a>
                        </div>
                        <p>Street Food Convention will showcase products like Packed food, beef and lamb, street food.
                        </p>
                    </div>
                    <div class="blog-btn">
                        <a href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Our Blog Area End -->