<!-- About Us And Countdown Area Start -->
<section class="about-us-countdown-area section-padding-100-0" id="about">
    <div class="container">
        <div class="row align-items-center">
            <!-- About Content -->
            <div class="col-12 col-md-6">
                <div class="about-content-text mb-80">
                    <h6 class="wow fadeInUp" data-wow-delay="300ms">About Conference</h6>
                    <h3 class="wow fadeInUp" data-wow-delay="300ms">Welcome to the Project Management</h3>
                    <p class="wow fadeInUp" data-wow-delay="300ms">The Project Management is a platform to learn expert
                        techniques for building successful project teams, creating efficient plans and implementing
                        effective tracking measures to ensure your projects come in on deadline and on budget. In one
                        fast-paced, well-designed day, we’ll cover all the essential elements of project management.</p>
                    <a href="#" class="btn confer-btn mt-50 wow fadeInUp" data-wow-delay="300ms">Interested <i
                            class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>

            <!-- About Thumb -->
            <div class="col-12 col-md-6">
                <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/img/bg-img/2.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Counter Up Area -->
    <div class="countdown-up-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-3">
                    <!-- Countdown Text -->
                    <div class="countdown-content-text mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6>Conference Date</h6>
                        <h4>Count Every Second Until the Event</h4>
                    </div>
                </div>

                <div class="col-12 col-md-9">
                    <div class="countdown-timer mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div id="clock">
                            <div>00 <span>Months</span></div>
                            <div>00 <span>Days</span></div>
                            <div>00 <span>Hours</span></div>
                            <div>00 <span>Minutes</span></div>
                            <div>00 <span>Seconds</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- About Us And Countdown Area End -->