<mat-horizontal-stepper [linear]="false" #stepper>

    <mat-step [stepControl]="formInfo">
        <ng-template matStepLabel>Fill out your event</ng-template>
        <form [formGroup]="formInfo" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="form-control-label" for="input-address">Title</label>
                        <input id="input-address" formControlName="title" class="form-control form-control-alternative"
                            placeholder="Title of your event" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" for="input-address">Total seats</label>
                        <input id="input-address" class="form-control form-control-alternative"
                            placeholder="Total Seats" formControlName="maxVolume" type="number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label" for="input-address">Desription</label>
                        <textarea id="input-address" class="form-control form-control-alternative"
                            placeholder="More information" formControlName="description" type="text"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-city">Address</label>
                        <input type="text" id="input-city" class="form-control form-control-alternative"
                            placeholder="Where it stand" value="28 Nguyen Tri Phuong" formControlName="address">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-country">City</label>
                        <input type="text" id="input-country" class="form-control form-control-alternative"
                            formControlName="city" placeholder="City" value="Hue">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-country">Province</label>
                        <input type="number" id="input-postal-code" class="form-control form-control-alternative"
                            formControlName="province" value="Vietnam" placeholder="State/Province">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-control-label" for="input-country">Start Date</label>
                        <div class="input-group form-control-alternative">
                            <input class="form-control form-control-alternative" placeholder="yyyy-mm-dd" name="dp"
                                formControlName="startDate" ngbDatepicker #sd="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="sd.toggle()" type="button">
                                    <i class="fas fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-control-label" for="input-country">Start Time</label>
                        <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-control-label" for="input-country">End Date</label>
                        <div class="input-group form-control-alternative">
                            <input class="form-control form-control-alternative" placeholder="yyyy-mm-dd" name="dp"
                                formControlName="endDate" ngbDatepicker #ed="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="ed.toggle()" type="button">
                                    <i class="fas fa-calendar"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-control-label" for="input-country">End Time</label>
                        <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <lib-image-control (changeValue)="changeLogo($event)"></lib-image-control>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>

        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Write blog</ng-template>
        <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="htmlContent">
        </angular-editor>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Choose Speakers</ng-template>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="mt-7 mb-3 text-success">Your event is registered</h2>
            <div>
                <button class="btn btn-secondary" matStepperPrevious>Back</button>
                <button class="btn btn-primary" (click)="stepper.reset()">Reset</button>
            </div>
        </div>
    </mat-step>
</mat-horizontal-stepper>