<!-- Header Area Start -->
<header class="header-area" [class.sticky]="uiSv.scrolled$ | async">
    <div class="classy-nav-container" [ngClass]="{'breakpoint-off': !(breakpointCheck$ | async), 'breakpoint-on': breakpointCheck$ | async}">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="conferNav">
                <!-- Logo -->
                <a class="nav-brand" href="./index.html"><img src="./assets/img/core-img/logo.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li class="active"><a href="index.html">Sự kiện</a></li>
                            <li><a href="speakers.html">Đơn hàng</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Liên hệ</a></li>
                        </ul>

                        <!-- Get Tickets Button -->
                        <a href="#" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Đăng ký<i
                                class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- Header Area End -->