<!-- Our Ticket Pricing Table Area Start -->
<section class="our-ticket-pricing-table-area bg-img bg-gradient-overlay section-padding-100-0 jarallax"
    style="background-image: url(assets/img/bg-img/14.jpg);">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Choose a Ticket</p>
                    <h4>Ticket Pricing</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Ticket Pricing Table -->
            <div class="col-12 col-lg-4">
                <div class="single-ticket-pricing-table text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <h6 class="ticket-plan">1 day pass</h6>
                    <!-- Ticket Icon -->
                    <div class="ticket-icon">
                        <img src="assets/img/core-img/p1.png" alt="">
                    </div>
                    <h2 class="ticket-price"><span>$</span>59</h2>
                    <a href="#" class="btn confer-btn w-100 mb-30">Get Tickets <i
                            class="zmdi zmdi-long-arrow-right"></i></a>
                    <!-- Ticket Pricing Table Details -->
                    <div class="ticket-pricing-table-details">
                        <p><i class="zmdi zmdi-check"></i> One Day Conference Ticket</p>
                        <p><i class="zmdi zmdi-check"></i> Coffee-break</p>
                        <p><i class="zmdi zmdi-check"></i> Lunch and Networking</p>
                        <p><i class="zmdi zmdi-check"></i> Keynote talk</p>
                        <p><i class="zmdi zmdi-check"></i> Talk to the Editors Session</p>
                    </div>
                </div>
            </div>

            <!-- Single Ticket Pricing Table -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-ticket-pricing-table active text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <h6 class="ticket-plan">Full pass</h6>
                    <!-- Ticket Icon -->
                    <div class="ticket-icon">
                        <img src="assets/img/core-img/p2.png" alt="">
                    </div>
                    <h2 class="ticket-price"><span>$</span>99</h2>
                    <a href="#" class="btn confer-btn w-100 mb-30">Get Tickets <i
                            class="zmdi zmdi-long-arrow-right"></i></a>
                    <!-- Ticket Pricing Table Details -->
                    <div class="ticket-pricing-table-details">
                        <p><i class="zmdi zmdi-check"></i> One Day Conference Ticket</p>
                        <p><i class="zmdi zmdi-check"></i> Coffee-break</p>
                        <p><i class="zmdi zmdi-check"></i> Lunch and Networking</p>
                        <p><i class="zmdi zmdi-check"></i> Keynote talk</p>
                        <p><i class="zmdi zmdi-check"></i> Talk to the Editors Session</p>
                    </div>
                </div>
            </div>

            <!-- Single Ticket Pricing Table -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-ticket-pricing-table text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <h6 class="ticket-plan">Group pass</h6>
                    <!-- Ticket Icon -->
                    <div class="ticket-icon">
                        <img src="assets/img/core-img/p3.png" alt="">
                    </div>
                    <h2 class="ticket-price"><span>$</span>199</h2>
                    <a href="#" class="btn confer-btn w-100 mb-30">Get Tickets <i
                            class="zmdi zmdi-long-arrow-right"></i></a>
                    <!-- Ticket Pricing Table Details -->
                    <div class="ticket-pricing-table-details">
                        <p><i class="zmdi zmdi-check"></i> One Day Conference Ticket</p>
                        <p><i class="zmdi zmdi-check"></i> Coffee-break</p>
                        <p><i class="zmdi zmdi-check"></i> Lunch and Networking</p>
                        <p><i class="zmdi zmdi-check"></i> Keynote talk</p>
                        <p><i class="zmdi zmdi-check"></i> Talk to the Editors Session</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Ticket Pricing Table Area End -->