<div class="animated fadeIn">
    <div class="header bg-gradient-danger py-7 py-lg-7">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <h1 class="text-white">Welcome CGH-Events</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small [class.text-danger]="error">{{ error || "Sign in with credentials" }}</small>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div [hidden]="!(authService.logging$() | async)" class=" my-5 spinner-border text-danger"
                                style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <form [formGroup]="formLogin" [hidden]="authService.logging$() | async"
                            (ngSubmit)="formLogin.valid && login()" role="form">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative"
                                    [class.error]="f.email.errors && f.email.dirty && f.email.touched">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input formControlName="email" class="form-control" placeholder="Email"
                                        type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative"
                                    [class.error]="f.password.errors && f.password.dirty && f.password.touched">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input formControlName="password" class="form-control" placeholder="Password"
                                        type="password">
                                </div>
                            </div>
                            <div class="custom-control custom-control-alternative custom-checkbox">
                                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                <label class="custom-control-label" for=" customCheckLogin">
                                    <span class="text-muted">Remember me</span>
                                </label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>