<div class="container-fluid">
    <div class="d-flex module-nav">
        <a class="btn btn-sm btn-secondary" href="javascript:void(0)" (click)="openCreateDialog()"><i class="fas fa-plus"></i>Thêm sự kiện</a>
    </div>

    <router-outlet></router-outlet>
</div>