<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header Area Start -->
<header class="header-area">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="conferNav">

                <!-- Logo -->
                <a class="nav-brand" href="./index.html"><img src="./img/core-img/logo.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">- Home</a></li>
                                    <li><a href="about.html">- About Us</a></li>
                                    <li><a href="speakers.html">- Speakears</a></li>
                                    <li><a href="schedule.html">- Schedule</a></li>
                                    <li><a href="tickets.html">- Tickets</a></li>
                                    <li><a href="blog.html">- Blog</a></li>
                                    <li><a href="single-blog.html">- Single Blog</a></li>
                                    <li><a href="contact.html">- Contact</a></li>
                                    <li><a href="#">- Dropdown</a>
                                        <ul class="dropdown">
                                            <li><a href="#">- Dropdown Item</a></li>
                                            <li><a href="#">- Dropdown Item</a></li>
                                            <li><a href="#">- Dropdown Item</a></li>
                                            <li><a href="#">- Dropdown Item</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="speakers.html">Speakears</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>

                        <!-- Get Tickets Button -->
                        <a href="#" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Get Tickets <i class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url(img/bg-img/27.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="page-title">About Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- What We offer Area Start -->
<section class="what-we-offer-area section-padding-100-70">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Summit Meeting</p>
                    <h4>What We Offer</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="img/core-img/icon.png" alt="">
                    </div>
                    <h5>Conference</h5>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="img/core-img/icon-2.png" alt="">
                    </div>
                    <h5>Workshops</h5>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="img/core-img/icon-3.png" alt="">
                    </div>
                    <h5>Coffee Breaks</h5>
                    <p>On the other hand, we denounce with righteous indignation</p>
                </div>
            </div>

            <!-- Single We Offer Area -->
            <div class="col-12 col-md-6 col-xl-3">
                <div class="single-we-offer-content text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="offer-icon">
                        <img src="img/core-img/icon-4.png" alt="">
                    </div>
                    <h5>Events</h5>
                    <p>These cases are perfectly simple and easy to distinguish in a free hour</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- What We offer Area End -->

<!-- About Us And Countdown Area Start -->
<section class="about-us-countdown-area section-padding-100-0" id="about">
    <div class="container">
        <div class="row align-items-center">
            <!-- About Content -->
            <div class="col-12 col-md-6">
                <div class="about-content-text mb-80">
                    <h6 class="wow fadeInUp" data-wow-delay="300ms">About Conference</h6>
                    <h3 class="wow fadeInUp" data-wow-delay="300ms">Welcome to the Project Management</h3>
                    <p class="wow fadeInUp" data-wow-delay="300ms">The Project Management is a platform to learn expert techniques for building successful project teams, creating efficient plans and implementing effective tracking measures to ensure your projects come in on deadline and on budget. In one fast-paced, well-designed day, we’ll cover all the essential elements of project management.</p>
                    <a href="#" class="btn confer-btn mt-50 wow fadeInUp" data-wow-delay="300ms">Interested <i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>

            <!-- About Thumb -->
            <div class="col-12 col-md-6">
                <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                    <img src="img/bg-img/2.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Counter Up Area -->
    <div class="countdown-up-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-3">
                    <!-- Countdown Text -->
                    <div class="countdown-content-text mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h6>Conference Date</h6>
                        <h4>Count Every Second Until the Event</h4>
                    </div>
                </div>

                <div class="col-12 col-md-9">
                    <div class="countdown-timer mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div id="clock"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us And Countdown Area End -->

<!-- Our Speakings Area Start -->
<section class="our-speaker-area section-padding-100-60">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Our Speakings</p>
                    <h4>Who’s speaking</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Speaker Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="img/bg-img/4.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Albert Barnes</h5>
                        <p>Founder</p>
                    </div>
                </div>
            </div>

            <!-- Single Speaker Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="img/bg-img/5.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Patricia Stanley</h5>
                        <p>Product Lead</p>
                    </div>
                </div>
            </div>

            <!-- Single Speaker Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="img/bg-img/6.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Evelyn Stone</h5>
                        <p>Photographer</p>
                    </div>
                </div>
            </div>

            <!-- Single Speaker Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="img/bg-img/7.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Evelyn Stone</h5>
                        <p>Photographer</p>
                    </div>
                </div>
            </div>

            <!-- Single Speaker Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="img/bg-img/8.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Susan Hopkins</h5>
                        <p>UX Manager</p>
                    </div>
                </div>
            </div>

            <!-- Single Speaker Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Thumb -->
                    <div class="speaker-single-thumb">
                        <img src="img/bg-img/9.jpg" alt="">
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <!-- Info -->
                    <div class="speaker-info">
                        <h5>Michael Fowler</h5>
                        <p>Product Design</p>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="more-speaker-btn text-center mt-20 mb-40 wow fadeInUp" data-wow-delay="300ms">
                    <a class="btn confer-btn" href="#">View All Speaker <i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Speakings Area End -->

<!-- Our Gallery Area Start -->
<div class="our-gallery-area section-padding-0-85">
    <div class="container-fluid">
        <div class="row">
            <!-- Single Gallery Thumb -->
            <div class="col-12 col-sm-3">
                <div class="single-gallery-thumb wow fadeInUp" data-wow-delay="300ms">
                    <img src="img/bg-img/28.jpg" alt="">
                </div>
            </div>

            <!-- Single Gallery Thumb -->
            <div class="col-12 col-sm-3">
                <div class="single-gallery-thumb wow fadeInUp" data-wow-delay="300ms">
                    <img src="img/bg-img/29.jpg" alt="">
                </div>
            </div>

            <!-- Single Gallery Thumb -->
            <div class="col-12 col-sm-6">
                <div class="single-gallery-thumb wow fadeInUp" data-wow-delay="300ms">
                    <img src="img/bg-img/30.jpg" alt="">
                </div>
            </div>

            <!-- Single Gallery Thumb -->
            <div class="col-12 col-sm-6">
                <div class="single-gallery-thumb wow fadeInUp" data-wow-delay="300ms">
                    <img src="img/bg-img/31.jpg" alt="">
                </div>
            </div>

            <!-- Single Gallery Thumb -->
            <div class="col-12 col-sm-3">
                <div class="single-gallery-thumb wow fadeInUp" data-wow-delay="300ms">
                    <img src="img/bg-img/32.jpg" alt="">
                </div>
            </div>

            <!-- Single Gallery Thumb -->
            <div class="col-12 col-sm-3">
                <div class="single-gallery-thumb wow fadeInUp" data-wow-delay="300ms">
                    <img src="img/bg-img/33.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Gallery Area End -->

<!-- Our Client Area -->
<div class="our-client-area about-page section-padding-0-100">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-3 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>WHAT CLIENTS SAY</p>
                    <h4>Testimonials</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Client Slider -->
                <div class="client-area owl-carousel">
                    <!-- Single Client Slide -->
                    <div class="single-client-content bg-boxshadow wow fadeInUp" data-wow-delay="300ms">
                        <div class="single-client-text about-page">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                            <!-- Thumb and info -->
                            <div class="single-client-thumb-info d-flex align-items-center">
                                <!-- Thumb -->
                                <div class="single-client-thumb">
                                    <img src="img/bg-img/15.jpg" alt="">
                                </div>
                                <!-- Info -->
                                <div class="client-info">
                                    <h6>Maria Hernandez</h6>
                                    <p>UX Manager</p>
                                </div>
                            </div>
                        </div>
                        <!-- Icon -->
                        <div class="client-icon">
                            <i class="zmdi zmdi-quote"></i>
                        </div>
                    </div>

                    <!-- Single Client Slide -->
                    <div class="single-client-content bg-boxshadow wow fadeInUp" data-wow-delay="300ms">
                        <div class="single-client-text about-page">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                            <!-- Thumb and info -->
                            <div class="single-client-thumb-info d-flex align-items-center">
                                <!-- Thumb -->
                                <div class="single-client-thumb">
                                    <img src="img/bg-img/16.jpg" alt="">
                                </div>
                                <!-- Info -->
                                <div class="client-info">
                                    <h6>Jacqueline Myers</h6>
                                    <p>UX Manager</p>
                                </div>
                            </div>
                        </div>
                        <!-- Icon -->
                        <div class="client-icon">
                            <i class="zmdi zmdi-quote"></i>
                        </div>
                    </div>

                    <!-- Single Client Slide -->
                    <div class="single-client-content bg-boxshadow wow fadeInUp" data-wow-delay="300ms">
                        <div class="single-client-text about-page">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                            <!-- Thumb and info -->
                            <div class="single-client-thumb-info d-flex align-items-center">
                                <!-- Thumb -->
                                <div class="single-client-thumb">
                                    <img src="img/bg-img/15.jpg" alt="">
                                </div>
                                <!-- Info -->
                                <div class="client-info">
                                    <h6>Maria Hernandez</h6>
                                    <p>UX Manager</p>
                                </div>
                            </div>
                        </div>
                        <!-- Icon -->
                        <div class="client-icon">
                            <i class="zmdi zmdi-quote"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Client Area -->

<!-- Footer Area Start -->
<footer class="footer-area bg-img bg-overlay-2 section-padding-100-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Footer Logo -->
                        <a href="#" class="footer-logo"><img src="img/core-img/logo.png" alt=""></a>
                        <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain.</p>

                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Contact</h5>

                        <!-- Contact Area -->
                        <div class="footer-contact-info">
                            <p><i class="zmdi zmdi-map"></i> 184 Main Collins Street</p>
                            <p><i class="zmdi zmdi-phone"></i> (226) 446 9371</p>
                            <p><i class="zmdi zmdi-email"></i> confer@gmail.com</p>
                            <p><i class="zmdi zmdi-globe"></i> www.confer.com</p>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Workshops</h5>

                        <!-- Footer Nav -->
                        <ul class="footer-nav">
                            <li><a href="#">OSHA Compliance</a></li>
                            <li><a href="#">Microsoft Excel Basics</a></li>
                            <li><a href="#">Forum Speaker Series</a></li>
                            <li><a href="#">Tedx Moscow Conference</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Gallery</h5>

                        <!-- Footer Gallery -->
                        <div class="footer-gallery">
                            <div class="row">
                                <div class="col-4">
                                    <a href="img/bg-img/21.jpg" class="single-gallery-item"><img src="img/bg-img/21.jpg" alt=""></a>
                                </div>
                                <div class="col-4">
                                    <a href="img/bg-img/22.jpg" class="single-gallery-item"><img src="img/bg-img/22.jpg" alt=""></a>
                                </div>
                                <div class="col-4">
                                    <a href="img/bg-img/23.jpg" class="single-gallery-item"><img src="img/bg-img/23.jpg" alt=""></a>
                                </div>
                                <div class="col-4">
                                    <a href="img/bg-img/24.jpg" class="single-gallery-item"><img src="img/bg-img/24.jpg" alt=""></a>
                                </div>
                                <div class="col-4">
                                    <a href="img/bg-img/25.jpg" class="single-gallery-item"><img src="img/bg-img/25.jpg" alt=""></a>
                                </div>
                                <div class="col-4">
                                    <a href="img/bg-img/26.jpg" class="single-gallery-item"><img src="img/bg-img/26.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
        <div class="copywrite-content">
            <div class="row">
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <!-- Footer Menu -->
                <div class="col-12 col-md-6">
                    <div class="footer-menu">
                        <ul class="nav">
                            <li><a href="#"><i class="zmdi zmdi-circle"></i> Terms of Service</a></li>
                            <li><a href="#"><i class="zmdi zmdi-circle"></i> Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>