<input type="file" (change)="preview($event.target.files)" hidden #fileSelect />
<button class="btn btn-sm btn-warning" type="button" (click)="fileSelect.click()">{{ title }}</button>
<div *ngIf="base64" class="image-wrapper">
    <img [src]="base64" />
</div>