<!-- Sidenav -->
<app-demo-sidebar></app-demo-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-demo-navbar></app-demo-navbar>
  <!-- Pages -->
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-demo-footer></app-demo-footer>
  </div>
</div>
