<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Card tables</h3>
            </div>
            <div class="table-responsive animated fadeIn fast">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" libSortable="title" (sort)="onSort($event)">Project</th>
                            <th scope="col" libSortable="price" (sort)="onSort($event)">Budget</th>
                            <th scope="col" libSortable="status" (sort)="onSort($event)">Status</th>
                            <th scope="col">Users</th>
                            <th scope="col" libSortable="completion" (sort)="onSort($event)">Completion</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let it of getEvents$ | async; index as index">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                        <img alt="Image placeholder" [src]="it.logo">
                                    </a>
                                    <div class="media-body">
                                        <span class="mb-0 text-sm">{{ it.title }}</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                {{ it.price  | currency: 'USD'}}
                            </td>
                            <td>
                                <span class="badge badge-dot mr-4">
                                    <i [class]="it.blClass"></i> {{ it.status }}
                                </span>
                            </td>
                            <td>
                                <div class="avatar-group">
                                    <a *ngFor="let pfm of it.performers" href="javascript:void(0)"
                                        class="avatar avatar-sm" data-toggle="tooltip"
                                        data-original-title="Ryan Tompson">
                                        <img alt="Image placeholder" [src]="pfm.avatarUrl" class="rounded-circle">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">{{it.completion * 100}}%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar" [class]="it.blClass" role="progressbar"
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                [style.width]="it.completion * 100 + '%'"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <div ngbDropdown placement="{{ index < 2 ? 'bottom-right' : 'top-right'}}">
                                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="javascript:void(0)"
                                            (click)="openOverviewDialog()">Overview</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer py-4">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item" [class.disabled]="page <= 1">
                            <a class="page-link" (click)="previousPage()" href="javascript:void(0)">
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" [class.active]="index + 1 == page"
                            *ngFor="let p of [].constructor(3); index as index">
                            <a class="page-link" (click)="selectPage(index + 1)"
                                href="javascript:void(0)">{{index + 1}}</a>
                        </li>
                        <li class="page-item" [class.disabled]="page >= 3">
                            <a class="page-link" (click)="nextPage()" href="javascript:void(0)">
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>