<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<app-welcome-area></app-welcome-area>

<app-about-conference></app-about-conference>

<app-our-speaking></app-our-speaking>

<app-schedule-plan></app-schedule-plan>

<app-ticket-pricing></app-ticket-pricing>

<app-official-sponsor></app-official-sponsor>

<app-latest-news></app-latest-news>

<app-contact-us></app-contact-us>