<!-- Contact Area Start -->
<section class="contact-our-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Have Question?</p>
                    <h4>Contact us</h4>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-sm-3">
                <div class="contact-information mb-100">
                    <!-- Single Contact Info -->
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>Address:</p>
                        <h6>184 Main Collins Street</h6>
                    </div>
                    <!-- Single Contact Info -->
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>Phone:</p>
                        <h6>(226) 446 9371</h6>
                    </div>
                    <!-- Single Contact Info -->
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>Email:</p>
                        <h6>confer@gmail.com</h6>
                    </div>
                    <!-- Single Contact Info -->
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>Website:</p>
                        <h6>www.confer.com</h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-8">
                <!-- Contact Form -->
                <div class="contact_from_area mb-100 clearfix wow fadeInUp" data-wow-delay="300ms">
                    <div class="contact_form">
                        <form action="mail.php" method="post" id="main_contact_form">
                            <div class="contact_input_area">
                                <div id="success_fail_info"></div>
                                <div class="row">
                                    <!-- Form Group -->
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-30" name="name" id="name"
                                                placeholder="Your Name">
                                        </div>
                                    </div>
                                    <!-- Form Group -->
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-30" name="name" id="name2"
                                                placeholder="Last Name">
                                        </div>
                                    </div>
                                    <!-- Form Group -->
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control mb-30" name="email" id="email"
                                                placeholder="E-mail">
                                        </div>
                                    </div>
                                    <!-- Form Group -->
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-30" name="subject" id="subject"
                                                placeholder="Your Number">
                                        </div>
                                    </div>
                                    <!-- Form Group -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control mb-30" id="message" cols="30"
                                                rows="6" placeholder="Your Message *"></textarea>
                                        </div>
                                    </div>
                                    <!-- Button -->
                                    <div class="col-12">
                                        <button type="submit" class="btn confer-btn">Send Message <i
                                                class="zmdi zmdi-long-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Area End -->