<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>

<a *ngIf="uiSv.scrolled$ | async" class="scrollUp" libScrollTop
    style="position: fixed; z-index: 2147483647; display: block;"><i class="fas fa-chevron-up"></i></a>