<!-- Our client area -->
<div class="col-12">
    <div class="our-client-area mt-100 wow fadeInUp" data-wow-delay="300ms">
        <!-- client Slider -->
        <div class="client-area owl-carousel owl-loaded owl-drag">
            <!-- Single client Slider -->
            <div class="single-client-content">
                <!-- Single client Text -->
                <div class="single-client-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris.</p>
                    <!-- Single client Thumb and info -->
                    <div class="single-client-thumb-info d-flex align-items-center">
                        <!-- Single client Thumb -->
                        <div class="single-client-thumb">
                            <img src="assets/img/bg-img/15.jpg" alt="">
                        </div>
                        <!-- Single client Info -->
                        <div class="client-info">
                            <h6>Maria Hernandez</h6>
                            <p>UX Manager</p>
                        </div>
                    </div>
                </div>
                <!-- Single client Icon -->
                <div class="client-icon">
                    <i class="zmdi zmdi-quote"></i>
                </div>
            </div>

            <!-- Single client Slider -->
            <div class="single-client-content">
                <!-- Single client Text -->
                <div class="single-client-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris.</p>
                    <!-- Single client Thumb and info -->
                    <div class="single-client-thumb-info d-flex align-items-center">
                        <!-- Single client Thumb -->
                        <div class="single-client-thumb">
                            <img src="assets/img/bg-img/16.jpg" alt="">
                        </div>
                        <!-- Single client Info -->
                        <div class="client-info">
                            <h6>Jacqueline Myers</h6>
                            <p>UX Manager</p>
                        </div>
                    </div>
                </div>
                <!-- Single client Icon -->
                <div class="client-icon">
                    <i class="zmdi zmdi-quote"></i>
                </div>
            </div>

            <!-- Single client Slider -->
            <div class="single-client-content">
                <!-- Single client Text -->
                <div class="single-client-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris.</p>
                    <!-- Single client Thumb and info -->
                    <div class="single-client-thumb-info d-flex align-items-center">
                        <!-- Single client Thumb -->
                        <div class="single-client-thumb">
                            <img src="assets/img/bg-img/15.jpg" alt="">
                        </div>
                        <!-- Single client Info -->
                        <div class="client-info">
                            <h6>Maria Hernandez</h6>
                            <p>UX Manager</p>
                        </div>
                    </div>
                </div>
                <!-- Single client Icon -->
                <div class="client-icon">
                    <i class="zmdi zmdi-quote"></i>
                </div>
            </div>
        </div>
    </div>
</div>