<!-- Our Schedule Area Start -->
<section class="our-schedule-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Our Timetable</p>
                    <h4>Schedule Plan</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="schedule-tab">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="300ms" id="conferScheduleTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#step-one" role="tab"
                                aria-controls="step-one" aria-expanded="true">Monday <br> <span>January 14,
                                    2019</span></a>
                        </li>
                        <!-- Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link" id="tuesday-tab" data-toggle="tab" href="#step-two" role="tab"
                                aria-controls="step-two" aria-expanded="true">Tuesday <br> <span>January 15,
                                    2019</span></a>
                        </li>
                        <!-- Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link" id="wednesday-tab" data-toggle="tab" href="#step-three" role="tab"
                                aria-controls="step-three" aria-expanded="true">Wednesday <br> <span>January 16,
                                    2019</span></a>
                        </li>
                    </ul>
                </div>

                <!-- Tab Content -->
                <div class="tab-content" id="conferScheduleTabContent">
                    <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="monday-tab">
                        <!-- Single Tab Content -->
                        <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="assets/img/bg-img/10.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Dealing with Difficult People</h6>
                                                <p>by <span>Gary Armstrong</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>

                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="assets/img/bg-img/11.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Crop Insurance Conference</h6>
                                                <p>by <span>Amanda Hudson</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>

                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="assets/img/bg-img/12.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Capdm Executive Conference</h6>
                                                <p>by <span>Martha Burke</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>

                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="assets/img/bg-img/13.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Street Food Convention</h6>
                                                <p>by <span>Jeffrey Morales</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>

                                <!-- More Schedule Btn -->
                                <div class="col-12">
                                    <div class="more-schedule-btn text-center mt-50 wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <a href="#" class="btn confer-gb-btn">Dowload schedule (Pdf)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="tuesday-tab">
                        <!-- Single Tab Content -->
                        <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="assets/img/bg-img/11.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Crop Insurance Conference</h6>
                                                <p>by <span>Amanda Hudson</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>

                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="assets/img/bg-img/12.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Capdm Executive Conference</h6>
                                                <p>by <span>Martha Burke</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>

                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="assets/img/bg-img/13.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Street Food Convention</h6>
                                                <p>by <span>Jeffrey Morales</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>

                                <!-- More Schedule Btn -->
                                <div class="col-12">
                                    <div class="more-schedule-btn text-center mt-50 wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <a href="#" class="btn confer-gb-btn">Dowload schedule (Pdf)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="step-three" role="tabpanel" aria-labelledby="wednesday-tab">
                        <!-- Single Tab Content -->
                        <div class="single-tab-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="assets/img/bg-img/10.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Dealing with Difficult People</h6>
                                                <p>by <span>Gary Armstrong</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>

                                    <!-- Single Schedule Area -->
                                    <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <!-- Single Schedule Thumb and Info -->
                                        <div class="single-schedule-tumb-info d-flex align-items-center">
                                            <!-- Single Schedule Thumb -->
                                            <div class="single-schedule-tumb">
                                                <img src="assets/img/bg-img/13.jpg" alt="">
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="single-schedule-info">
                                                <h6>Street Food Convention</h6>
                                                <p>by <span>Jeffrey Morales</span> / Ceo of Confer</p>
                                            </div>
                                        </div>
                                        <!-- Single Schedule Info -->
                                        <div class="schedule-time-place">
                                            <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                                            <p><i class="zmdi zmdi-map"></i> Mountain Resort, Phoenix, USA</p>
                                        </div>
                                        <!-- Schedule Btn -->
                                        <a href="#" class="btn confer-btn">View More <i
                                                class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>

                                <!-- More Schedule Btn -->
                                <div class="col-12">
                                    <div class="more-schedule-btn text-center mt-50 wow fadeInUp"
                                        data-wow-delay="300ms">
                                        <a href="#" class="btn confer-gb-btn">Dowload schedule (Pdf)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Schedule Area End -->