<mat-tab-group>
    <mat-tab label="Profile">
        <h1>Some tab content</h1>
        <p>...</p>
    </mat-tab>
    <mat-tab label="Follows">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
    <mat-tab label="Register">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
</mat-tab-group>