<!-- Our Sponsor And Client Area Start -->
<section class="our-sponsor-client-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Partners &amp; Sponsors</p>
                    <h4>OFFICIAL SPONSOR</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Our Sponsor area -->
                <div class="our-sponsor-area d-flex flex-wrap">
                    <!-- Single Sponsor -->
                    <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                        <a href="#"><img src="assets/img/core-img/p-1.png" alt=""></a>
                    </div>
                    <!-- Single Sponsor -->
                    <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                        <a href="#"><img src="assets/img/core-img/p-2.png" alt=""></a>
                    </div>
                    <!-- Single Sponsor -->
                    <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                        <a href="#"><img src="assets/img/core-img/p-3.png" alt=""></a>
                    </div>
                    <!-- Single Sponsor -->
                    <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                        <a href="#"><img src="assets/img/core-img/p-4.png" alt=""></a>
                    </div>
                    <!-- Single Sponsor -->
                    <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                        <a href="#"><img src="assets/img/core-img/p-5.png" alt=""></a>
                    </div>
                    <!-- Single Sponsor -->
                    <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                        <a href="#"><img src="assets/img/core-img/p-6.png" alt=""></a>
                    </div>
                    <!-- Single Sponsor -->
                    <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                        <a href="#"><img src="assets/img/core-img/p-7.png" alt=""></a>
                    </div>
                    <!-- Single Sponsor -->
                    <div class="single-sponsor wow fadeInUp" data-wow-delay="300ms">
                        <a href="#"><img src="assets/img/core-img/p-8.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-our-client></app-our-client>
</section>
<!-- Our Sponsor And Client Area End -->